<div class="mat-elevation-z8 " >

  <div class="flex flex-col md:flex-row md:justify-between ">
        <div class="relative w-4/5  mb-0 sm:w-auto sm:mb-4 m-5 h-10">
          <!-- Search Icon -->
          <mat-icon class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500">search</mat-icon>

          <!-- Search Input -->
          <input type="text" matInput (keyup)="applyFilter($event)" id="search"
            class="pl-10 w-full h-10 text-gray-500 p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:text-gray-800 focus:ring-blue-800 dark:placeholder-gray-600"
            placeholder="Search records" formControlName="search">
        </div>
    <!-- Action Buttons -->
    <div class="m-5 mr-10 flex flex-row align-middle justify-evenly gap-3">
      <button mat-raised-button class="w-fit mt-auto text-sm sm:text-base md:custom-flat-btn" color="primary" (click)="addNewBusinessCard()">  <mat-icon>person_add</mat-icon>        Add Card</button>
      <button mat-raised-button class="w-fit mt-auto text-sm sm:text-base md:custom-flat-btn" color="primary" routerLink="/import" ><mat-icon>download</mat-icon>Import</button>
    </div>

</div>
  <!-- Angular Material Table -->
  <table mat-table   [dataSource]="dataSource" matSort class="mt-0 full-width-table" matSortActive="name" matSortDirection="desc">

    <!-- Checkbox Column for row selection -->
    <ng-container matColumnDef="select" >
      <th mat-header-cell *matHeaderCellDef class="w-1 overflow-x-clip p-0 ">
        <mat-checkbox (change)="selectAll($event.checked)"><span class="hidden md:inline">#</span></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row;let i = index" class="w-1 overflow-x-clip p-0">
        <mat-checkbox (change)="toggleSelection(row)" [checked]="selectedRows.includes(row)"><span class="hidden md:inline">{{ i + 1 }}</span></mat-checkbox>
      </td>
    </ng-container>
    <!-- Name Column -->

    <div class="w-20 overflow-x-clip test">
      <ng-container matColumnDef="id" >
        <th mat-header-cell *matHeaderCellDef > ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
    </div>
    <!-- Name Column -->
    <ng-container matColumnDef="name" class="w-fit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let row"> {{row.gender === 1 ? 'Male' : 'Female'}} </td>
    </ng-container>

<!-- Date of Birth Column -->
<ng-container matColumnDef="dateOfBirth">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
  <td mat-cell *matCellDef="let row"> {{row.dateOfBirth | date: 'MMM d, yyyy'}} </td>
</ng-container>

<!-- Email Column -->
<div class="w-20 overflow-x-clip test">
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
  </ng-container>
 </div>


<!-- phoneNumber Column -->
<ng-container matColumnDef="phoneNumber">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
  <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
</ng-container>

<!-- Address Column -->
<ng-container matColumnDef="address">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
  <td mat-cell *matCellDef="let row"> {{row.address}} </td>
</ng-container>

<!-- photo Column -->
<ng-container matColumnDef="photo">
  <th mat-header-cell *matHeaderCellDef> Photo </th>
  <td mat-cell *matCellDef="let row">
    <img [src]="row.photo" alt="{{row.name+' image'}}" class="h-12 object-cover mx-auto"  (error)="this.row.photo='assets/images/default_image.png'">
  </td>
</ng-container>

<!-- Last Update At Column -->
<ng-container matColumnDef="lastUpdateAt">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Added At </th>
  <td mat-cell *matCellDef="let row"> {{row.lastUpdateAt | date: 'MMM d, yyyy \'at\' h:mm a'}} </td>
</ng-container>

    <!-- Actions Column for edit and delete buttons -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="w-1/2 md:w-fit"> Actions </th>
      <td mat-cell *matCellDef="let row" class="">

        <div  (click)="generateAndDownloadQrCode(row)"   class=" cursor-pointer hover:bg-opacity-30 md:px-2 md:py-1 hover:bg-blue-100 rounded-full text-blue-800  text-sm sm:text-base  inline-block md:inline-flex flex-row flex-nowrap justify-center w-fit  m-0 mb-2 shadow-none"
              title="Download the Business Card as a QR Code"  >
              <mat-icon color="primary"  class="">qr_code</mat-icon>
              <span  class="hidden md:block  -ml-1.5">  <mat-icon color="primary" >download</mat-icon></span>
        </div>

        <button mat-icon-button color="primary" (click)="ViewCard(row)">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteRowsDialog([row])">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <!-- Table Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Table Data Rows -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="flex flex-col-reverse md:flex-row justify-between  align-middle mt-1 mb-3">
 <div class="mx-2 md:mx-5 mt-2.5  mb-4 export-buttons flex flex-row  ">
  <button mat-raised-button  color="primary" [disabled]="selectedRows.length == 0"
    (click)="exportSelectedBusinessCards('csv')"
    class="text-xs md:text-base custom-flat-btn">
    CSV
    <mat-icon>upload</mat-icon>
  </button>
  <button mat-raised-button color="accent" [disabled]="selectedRows.length == 0"
    (click)="exportSelectedBusinessCards('xml')"
    class="text-xs sm:text-base custom-flat-btn">
    XML
    <mat-icon>upload</mat-icon>
  </button>
  <button mat-raised-button class="delete-btn ml-0 sm:ml-10 text-xs md:text-base custom-flat-btn"
    [disabled]="selectedRows.length == 0"
    (click)="deleteSelectedBusinessCardsDialog()">
    Delete
    <mat-icon>delete_sweep</mat-icon>
  </button>
</div>
          <!-- Pagination Controls -->
      <mat-paginator class="my-0"
      [pageSize]="pageSize"
      [pageSizeOptions]="listingPageSizeOptions"
      [length]="totalRecords"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>

</div>
