<div class="mat-elevation-z8 p-5">
  <!-- Header with Back Button -->
  <div class="flex  gap-2 flex-col md:flex-row justify-start items-left md:items-center mb-1 md:mb-4 mt-1">
    <button mat-raised-button class="flat-btn-blue w-fit  md:mt-0" routerLink="" color="primary">
 <mat-icon class="mr-2">arrow_back</mat-icon> Back
    </button>
    <div class="w-full flex justify-center  align-middle">
      <h2 class="font-boldh-0 md:m-2  md:font-boldh-3  text-blue-800 dark:text-blue-800 mx-auto   md:text-sm  text-xs">
       <span class=" md:hidden mb-0">Import business cards </span>
       <span class="hidden md:inline-block">
      Upload a CSV or XML file, review its contents, and submit to add business cards to your list.
       </span>
      </h2>
    </div>
  </div>

  <!-- File Upload Section -->
  <div class=" m-2  md:m-5 p-3 border border-blue-800 rounded-md bg-white dark:bg-gray-100">
    <div class="flex justify-between items-center mb-2 md:mb-4 ">
      <label  for="fileInput" class=" font-medium text-gray-700 dark:text-blue-800">Choose a file (CSV or XML)</label>
      <div *ngIf="selectedFile" class="ml-2 text-blue-700">
        <strong>Selected file:</strong> {{ selectedFile.name }}
      </div>
    </div>

    <!-- Drag and Drop Zone -->
    <label
      for="fileInput"
      class="drag-drop-area border-2 border-dashed md:py-10 border-blue-600 rounded-md p-4 flex justify-center items-center text-center text-blue-600 dark:text-gray-300 cursor-pointer"
      (drop)="onFileDrop($event)"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
    >
      <!-- Hidden File Input -->
      <input type="file" id="fileInput" (change)="onFileSelect($event)" accept=".csv, .xml" hidden />
      <!-- Label for drag-and-drop text -->
      <span class="cursor-pointer flat-btn-blue" >
        <mat-icon class="mr-2">file_upload</mat-icon> <span class="hidden md:inline" >Drag and drop a file here or </span>click to select
      </span>
    </label>

     <!-- Upload and Reset Buttons -->
     <div class="flex justify-center md:justify-start mt-3">
      <button mat-raised-button class="flat-btn-red" color="warn" (click)="resetFile()">
        <mat-icon class="mr-2">cancel</mat-icon> Reset
      </button>
    </div>

    <!-- Loading Spinner -->
    <div *ngIf="isLoading" class="flex justify-center mt-4">
      <mat-spinner></mat-spinner>
    </div>
  </div>


  <!-- Display Parsed Business Cards -->
  <h4 *ngIf="fileContent&&fileContent.length>0" class="font-bold text-2xl m-5 text-blue-800 dark:text-blue-800">Parsed Business Cards</h4>
  <div *ngIf="fileContent && fileContent.length > 0" class="overflow-x-auto mt-7">
    <table class="w-full text-sm text-left text-blue-500 dark:text-gray-400">
      <thead class="text-xs text-bllue-900 uppercase bg-gray-50  dark:text-gray-900 font-extrabold rounded-lg">
        <tr>
          <th scope="col" class="my-0 px-3 md:py-3  ">#</th>
          <th scope="col" class="my-0 px-6 md:py-3  ">Name</th>
          <th scope="col" class="my-0 px-6 md:py-3  ">Email</th>
          <th scope="col" class="my-0 px-6 md:py-3  ">Gender</th>
          <th scope="col" class="my-0 px-6 md:py-3  "><span class="md:hidden">DOB</span><span class="hidden md:inline">Date of Birth</span></th>
          <th scope="col" class="my-0 px-6 md:py-3  ">Phone</th>
          <th scope="col" class="my-0 px-6 md:py-3  ">Address</th>
          <th scope="col" class="my-0 px-6 md:py-3  ">Photo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of fileContent; let i = index" class=" text-nowrap bg-white border-b dark:text-gray-500 dark:border-gray-500 max-h-12">
          <td class="px-2 md:px-3 py-2"> {{i+1 }}</td>
          <td class="px-2 md:px-6 py-2"> {{ element.name }}</td>
          <td class="px-2 md:px-6 py-2">{{ element.email }}</td>
          <td class="px-2 md:px-6 py-2">{{ element.gender === 1 ? 'Male' : 'Female' }}</td>
          <td class="px-2 md:px-6 py-2 text-xs text-nowrap">{{ element.dateOfBirth | date: 'MMM d, yyyy'  }}</td>
          <td class="px-2 md:px-6 py-2">{{ element.phoneNumber }}</td>
          <td class="px-2 md:px-6 py-2">{{ element.address }}</td>
          <td class="px-2 md:px-6 py-2">
            <img [src]="element.photo" alt="Photo" class="h-10 object-contain" *ngIf="element.photo"  (error)="this.element.photo='assets/images/default_image.png'" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

        <!-- Upload  Button-->
        <div class="flex justify-center   mt-10">
          <button *ngIf="fileContent&&fileContent.length>0" mat-raised-button class="flat-btn-blue" color="primary" [disabled]="!selectedFile" (click)="onUpload()">
            <mat-icon class="mr-2">cloud_upload</mat-icon> Submit File
          </button>
        </div>
</div>
